<config>
	<modules>
		<Brandyn_TrackCustomers>
			<version>0.0.2</version>
		</Brandyn_TrackCustomers>
	</modules>
	<global>	
		<helpers>
			<Brandyn_Trackcustomers>
				<class>Brandyn_TrackCustomers_Helper</class>
			</Brandyn_Trackcustomers>
		</helpers>
		<resources>
			<Trackcustomers_setup>
		        <setup>
		            <module>Brandyn_TrackCustomers</module>
		            <class>Brandyn_TrackCustomers_Model_Resource_Mysql4_Setup</class>
		        </setup>
		        <connection>
		            <use>core_setup</use>
		        </connection>
			</Trackcustomers_setup>
			<Trackcustomers_write>
		        <connection>
		            <use>core_write</use>
		        </connection>
			</Trackcustomers_write>
			<Trackcustomers_read>
		        <connection>
		            <use>core_read</use>
		        </connection>
			</Trackcustomers_read>
		</resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<Brandyn_Trackcustomers module="Brandyn_TrackCustomers">
					<file>Brandyn/trackcustomers.xml</file>
				</Brandyn_Trackcustomers>
			</updates>
		</layout>
		<routers>
			<Brandyn_Trackcustomers>
				<use>standard</use>
				<args>
					<module>Brandyn_TrackCustomers</module>
					<frontName>track</frontName>
				</args>
			</Brandyn_Trackcustomers>
		</routers>
	</frontend>
</config>